<mat-card>
  <h1>Vehicles</h1>
  <app-vehicles-datatable
    [tableData]="vehicles$ | async"
    (addVehicle)="addVehicle()"
    (deleteVehicle)="deleteVehicle($event)">
  </app-vehicles-datatable>
</mat-card>
