<mat-card>
  <ng-template #loading>
      <mat-progress-spinner mode="indeterminate" style="margin: 0 auto" i18n>Loading...</mat-progress-spinner>
  </ng-template>
  <ng-container  *ngIf="vehicle; else loading">
  <h1>{{vehicle.name}}</h1>

  <form [formGroup]="form">
    <!--Name-->
    <mat-form-field>
      <input matInput placeholder="Name"
             formControlName="name"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="form.get('name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--Type-->
    <mat-form-field>
      <mat-select placeholder="Car Type" formControlName="car_type">
        <mat-option *ngFor="let type of carTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mt-2 mb-4">
      <button mat-raised-button color="accent"
              [disabled]="!form.valid"
              (click)="submit()">
        Save
      </button>
    </div>
  </form>

  <div *ngIf="error" class="bs-callout bs-callout-danger">
    <h4>Something went wrong</h4>
    {{error}}
  </div>

  <a routerLink="/"><mat-icon>keyboard_arrow_left</mat-icon> Back</a>
  </ng-container>
</mat-card>
