.extra-page {
  min-height: 100%;
  background-size: cover;
  padding: 0 10px;
  .main-body {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    padding: 50px 0 20px;
    @media (min-width: map-get($grid-breakpoints, md)) {
      padding-top: 50px;
    }
  }

}

