.app-footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: $footer_height;

  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  background: rgba(0, 0, 0, 0.7);
  color: white;

  font-size: 13px;
  line-height: 17px;
  &.fixed{
    position: fixed;
  }
}

.logo-image {
  max-width: 160px;
  max-height: 20px;
}
