.app-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transform: translate3d(0,0,0) !important;
  display: block;
  height: $header_height;
  width: 100%;
  color: white;
  z-index: 100;
  .app-header-inner {
    height: $header_height;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
}

.flex-spacer {
  flex-grow: 1;
}

.active-link {
  color: $accent;
}

.bg-primary {
  background-color: $primary;
}

.bg-warn {
  background-color: $warn;
}

.bg-primary-gradient {
  background: linear-gradient( $primary, darken($primary, 20%));
}

.bg-warn-gradient {
  background: linear-gradient( $warn, darken($warn, 20%));
}

.brand {
  padding: 15px;
  line-height: $header_height;
}
.shadow {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14) !important;
}
