.app-page-container {
  width: 100%;
  //height: 100%;
  padding-top: $header_height;
  .app-content-wrapper{
    min-height: 100%;
    height: 100%;
    position: relative;
    .app-content {
      z-index: 10;
      height: 100%;
      transition: all 0.3s ease;
      .full-width{
        width: 100%;
      }
    }
  }
}
