@import '~@angular/material/theming';
@import "material-theme";


$image_path: "../assets/images/";

// layout
$header_height: 60px;
$footer_height: 40px;

$sidebar_order_actions_height: 260px;
$sidebar_cart_actions_height: 41px;
$sidebar_cart_total_height: 60px;


$preferred_font: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1281px
) !default;


// colors
$primary: mat-color($light-app-primary);
$accent: mat-color($light-app-accent);
$warn: mat-color($light-app-warn);
