@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter background, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $preferred_font;
  height: 100%;
  user-select: none;
  overflow-x: hidden;
  //background: #eee;
  background: url('../assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

*:focus, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.material-icons {
  vertical-align: middle;
}

.mat-card {
  background: rgba(255, 255, 255, 0.6);
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge.primary {
  background-color: $primary;
  color: set-text-color($primary);
}

.badge.accent {
  background-color: $accent;
  color: set-text-color($accent);
}

.badge.green {
  background-color: mat-color($mat-green, 500);
  color: set-text-color(mat-color($mat-green, 500));
}

.badge.red {
  background-color: mat-color($mat-red, 500);
  color: white;
}

.text-success {
  color: mat-color($mat-green, 500);
}

.text-danger {
  color: mat-color($mat-red, 500);
}

.text-warning {
  color: mat-color($mat-amber, 500);
}

.text-info {
  color: mat-color($mat-blue, 500);
}
