<ng-container *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate" style="margin: 0 auto" i18n>Loading...</mat-progress-bar>
</ng-container>


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" autocomplete="off">
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-flat-button color="accent" (click)="emitAdd()">ADD</button>

  </mat-toolbar-row>
</mat-toolbar>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Car Type -->
    <ng-container matColumnDef="car_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Car Type </th>
      <td mat-cell *matCellDef="let row"> {{row.car_type}} </td>
    </ng-container>

    <!-- Create at -->
    <ng-container matColumnDef="time_created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Create at </th>
      <td mat-cell *matCellDef="let row"> {{row.time_created | date:'d/M/yy, hh:mm'}} </td>
    </ng-container>

    <!--  Last Successful Connection -->
    <ng-container matColumnDef="last_successful_connection">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Successful Connection </th>
      <td mat-cell *matCellDef="let row"> {{row.last_successful_connection | date:'d/M/yy, hh:mm'}} </td>
    </ng-container>

    <!--  Action -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <!--edit-->
        <button mat-icon-button color="accent" [routerLink]="'/vehicle/' + row.id">
          <mat-icon aria-label="Edit car">edit</mat-icon>
        </button>

        <!--delete-->
        <button mat-icon-button color="accent" (click)="emitDelete(row.id)">
          <mat-icon aria-label="Delete car">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
