<h1>Add Vehicle</h1>

<form [formGroup]="form">
  <!--Name-->
  <mat-form-field>
    <input matInput placeholder="Name"
           formControlName="name"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="form.get('name').hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!--Type-->
  <mat-form-field>
    <mat-select placeholder="Car Type" formControlName="car_type">
      <mat-option *ngFor="let type of carTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mt-2">
    <button mat-raised-button color="accent"
            [disabled]="!form.valid"
            (click)="submit()">
      Submit
    </button>
  </div>
</form>
